<!DOCTYPE html>
<html>
    <head>
        <% include ./components/header %>
        <link rel="stylesheet" type="text/css" href="css/style.css"> </link>
    </head>
    <body>
            <div class = "container">
                <img src = "image/logo-02.png">

                <div class="form-input">
                        <input type="text" id="player" placeholder="Enter your name" required autofocus>
                </div>
                    
                    <br>
                    
                <!----Subnit BTN---->
                <a href="#" class="btn-login" onclick="savePlayer()"> Enter </a>
            </div>

            <script src="js/login.js" ></script>
    </body>
</html>
